{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "javascript.insertSpaceAfterOpeningAndBeforeClosingJsxExpressionBraces": true,
    "trailingComma": "all",
    "printWidth": 100
}