* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes cursor-anim {
	0% {
		opacity: 0.7;
	}
	100% {
		opacity: 0;
	}
}
.nc-theme-- {
	&light {
		.nc-editor__text {
			background-color: white;
		}
		.nc-editor__gutter {
			border-right: 1px solid rgb(46, 46, 46);
			background-color: rgb(204, 204, 204);
			color: rgb(22, 22, 22);
		}
		.nc-editor__scroll-bar {
			background-color: white;
		}
		.nc-text__multi-line {
			background-color: white;
			color: rgb(22, 22, 22);
		}
		.nc-selection__ {
			&cursor {
				background-color: rgb(22, 22, 22);
			}
			&range {
				background-color: rgba(0, 112, 218, 0.432);
			}
			&search {
				background-color: rgba(209, 178, 2, 0.452);

				&--active {
					background-color: rgba(31, 245, 42, 0.473);
				}
			}
		}
		.nc-search {
			border: 1px solid rgb(22, 22, 22);
			background-color: white;

			&__close {
				color: rgb(32, 32, 32);
				background-color: white;
			}

			&__input {
				border: 1px solid rgb(29, 29, 29);
				background-color: rgb(224, 224, 224);
				color: rgb(0, 0, 0);
			}

			&__button {
				padding: 0.5em;
				background-color: white;
				color: rgb(0, 0, 0);

				&:hover {
					background-color: rgb(224, 224, 224);
				}

				&--active {
					background-color: rgb(224, 224, 224);
				}
			}

			&__result {
				display: flex;
				justify-content: center;
				min-width: 150px;
				color: rgb(0, 0, 0);
			}
		}
		.nc-format__word {
			color: rgb(10, 10, 10);
		}

		.nc-format__bracket {
			color: rgb(7, 76, 204);
		}
		.nc-format__square-bracket {
			color: rgb(197, 39, 202);
		}
		.nc-format__brace {
			color: rgb(188, 6, 243);
		}
		.nc-format__comment {
			color: rgb(0, 139, 7);
		}
		.nc-format__keyword {
			color: rgb(172, 49, 209);
		}
		.nc-format__string {
			color: rgb(202, 74, 24);
		}
		.nc-format__semicolon,
		.nc-format__colon {
			color: rgb(32, 32, 32);
		}
		.nc-format__operator {
			color: rgb(53, 53, 53);
		}
		.nc-format__comma,
		.nc-format__dot {
			color: rgb(34, 34, 34);
		}
		.nc-format__number {
			color: rgb(58, 189, 127);
		}
		.nc-format__const-value,
		.nc-format__access-modifier,
		.nc-format__declaration {
			color: rgb(57, 108, 202);
		}
		.nc-format__type {
			color: rgb(34, 173, 120);
		}
	}
}

.nc- {
	&editor {
		position: relative;
		display: grid;
		height: 100%;
		max-height: 100%;
		width: 100%;
		max-width: 100%;

		&__text {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-color: rgb(36, 36, 36);
			user-select: none;
		}

		&__gutter {
			grid-area: 1/1/2/2;
			height: 100%;
			width: 100%;
			border-right: 1px solid rgb(148, 148, 148);
			background-color: rgb(36, 36, 36);
			color: rgb(167, 167, 167);
			max-height: 100%;
			overflow: hidden;
			user-select: none;
		}

		&__scroll-bar {
			overflow-y: scroll;
			overflow-x: hidden;
			background-color: rgb(36, 36, 36);
			height: 100%;
			width: 100%;
			max-height: 100%;
		}

		&__selection {
			overflow: hidden;
			cursor: text;
		}

		&text__wrapper {
			position: relative;
			width: 100%;
		}

		&__input {
			position: absolute;
			height: 0px;
			width: 0px;
			opacity: 0;
			user-select: none;
			max-height: 0px;
		}
	}
	&scroll__scrollable {
		width: 15px;
		content: 'x';
	}

	&selection__ {
		&cursor {
			position: absolute;
			padding: 0;
			margin: 2px 0px;
			width: 2px;
			height: 18px;
			z-index: 1;
			left: 0;
			top: 1px;
			opacity: 1;
			background-color: white;

			pointer-events: none;
			user-select: none;

			&--animated {
				animation-name: cursor-anim;
				animation-duration: 1.2s;
				animation-iteration-count: infinite;
				animation-timing-function: steps(2, jump-none);
			}
		}
		&range {
			position: absolute;
			padding: 0;
			margin: 0px;
			pointer-events: none;
			user-select: none;
			background-color: rgba(50, 148, 240, 0.2);
		}
		&search {
			position: absolute;
			padding: 0;
			margin: 0px;
			pointer-events: none;
			user-select: none;
			background-color: rgba(228, 199, 36, 0.295);

			&--active {
				background-color: rgba(36, 228, 46, 0.295);
			}
		}
	}

	&text__multi-line {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0em 0em 0em 1em;
		margin: 0;
		max-width: 100%;
		background-color: rgb(36, 36, 36);
		cursor: text;
		color: white;
		white-space: pre;
	}

	&gutter__number {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&search {
		position: absolute;
		top: 0px;
		right: 15px;
		z-index: 5;
		background-color: black;
		min-width: 400px;
		// height: 130px;
		border: 1px solid rgb(148, 148, 148);
		border-top: 0px;
		background-color: rgb(36, 36, 36);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 1em;

		&__main {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
		}

		&__inputs {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__input {
			height: 50px;
			min-height: 50px;
			width: 250px;
			min-width: 250px;
			margin: 5px;
			border: 1px solid rgb(148, 148, 148);
			background-color: rgb(54, 54, 54);
			color: white;
		}

		&__controls {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 1em 1em;
			width: 120px;
		}

		&__controls-container {
			// height: 50px;
			// min-height: 50px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}

		&__button {
			padding: 0.5em;
			background-color: rgb(36, 36, 36);
			color: rgb(219, 219, 219);
			border: 0px;
			cursor: pointer;
			font-size: 15px;
			margin: 0em 2px;
			&:hover {
				background-color: rgb(54, 54, 54);
			}
			&--active {
				background-color: rgb(54, 54, 54);
			}
		}

		&__nav {
			padding: 0px 5px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&__result {
			display: flex;
			justify-content: center;
			min-width: 150px;
			color: rgb(219, 219, 219);
		}
	}
}

.nc-text__multi-line--hover {
	background-color: rgb(43, 43, 43);
}

.nc-text__multi-line--active {
	background-color: rgb(49, 49, 49);
}

.nc-format__word,
.nc-format__bracket,
.nc-format__square-bracket,
.nc-format__brace,
.nc-format__comment,
.nc-format__keyword,
.nc-format__space,
.nc-format__string,
.nc-format__semicolon,
.nc-format__colon,
.nc-format__comma,
.nc-format__dot,
.nc-format__number,
.nc-format__declartion,
.nc-format__type,
.nc-format__const-value,
.nc-format__access-modifier {
	white-space: pre;
}

.nc-format__word {
	color: rgb(136, 196, 253);
}

.nc-format__bracket {
	color: rgb(7, 76, 204);
}
.nc-format__square-bracket {
	color: rgb(197, 39, 202);
}
.nc-format__brace {
	color: rgb(188, 6, 243);
}
.nc-format__comment {
	color: rgb(0, 139, 7);
}
.nc-format__keyword {
	color: rgb(172, 49, 209);
}
.nc-format__string {
	color: rgb(202, 74, 24);
}
.nc-format__semicolon,
.nc-format__colon {
	color: rgb(240, 240, 240);
}
.nc-format__operator {
	color: rgb(240, 240, 240);
}
.nc-format__comma,
.nc-format__dot {
	color: rgb(240, 240, 240);
}
.nc-format__number {
	color: rgb(58, 189, 127);
}
.nc-format__const-value,
.nc-format__access-modifier,
.nc-format__declaration {
	color: rgb(57, 108, 202);
}
.nc-format__type {
	color: rgb(34, 173, 120);
}
