* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(51, 51, 51);
}
.header {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
		monospace;
}
.editor-container {
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#editor {
	height: 100%;
	width: 80%;
	border: 3px solid rgb(141, 139, 139);
	border-radius: 5px;
}
.footer {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
		monospace;
}
.footer pre {
	background-color: rgb(75, 75, 75);
	padding: 0.2em;
}
